.Container {
    flex-direction: column;
    height: 100vh;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 45%;
    align-items: center;
    background-color: lightblue;
}


.ListItems {
    list-style: none;
    text-align: left;
    display: inline-block;
    padding-inline-start: 0;
    margin: 0;
    padding: 0;
    left: 0;
}

